#tapahtumat,
#tyokalut {
  border-collapse: collapse;
  width: 80%;
  margin: 10px auto;
  font-size: 1rem;
  color: #4d4c4b;
  font-weight: bolder;
}

#tapahtumat td,
#tapahtumat th,
#tyokalut td,
#tyokalut th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tapahtumat tr:nth-child(even),
#tyokalut tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tapahtumat tr:hover,
#tyokalut tr:hover {
  background-color: #ddd;
}

#tapahtumat th,
#tyokalut th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a39dd4;
  color: white;
}

/* On screens that are 1070px or less */
@media screen and (max-width: 1070px) {
  #tapahtumat,
  #tyokalut {
    width: 80%;
    font-size: 0.7rem;
  }
}

/* On screens that are 785px or less */
@media screen and (max-width: 785px) {
  #tapahtumat,
  #tyokalut {
    width: 80%;
    font-size: 0.5rem;
  }
}
/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  #tapahtumat,
  #tyokalut {
    width: 80%;
    font-size: 0.3rem;
  }
}
