body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.divider {
  orientation: horizontal;
  border: 3px #a39dd4;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 20px;
}

.note {
  font-family: "Allura", cursive;
  font-size: 2rem;
}

.ruutu {
  box-shadow: 0 2px 2px 0 #a39dd4, 0 0px 6px 0 #a39dd4;
  align-items: center;
  text-align: center;
}
